.background{
	background: url('/assets/image/background.png') no-repeat;
	background-size: 100% 100%;
	display: block;
}

.logo{
	max-width: 80px;
	margin: 0 auto;
	padding: 70px 0 40px;

}
.content{

	text-align: center;
	color: #2d2626f0;
	padding: 26px 8px 100px 11px;
	font-size: 12px;
	margin: auto;
	max-width: 300px;
}
.main_img{
	margin: auto;
	padding: 15px;
	text-align: center;
	max-width: 220px;
}
