
<ion-content>

	<div class ="background">
		<div class="logo">
			<img src="./assets/image/logo.png" alt="logo">
		</div>
		<h1 class="title">What is your name</h1>

		<div class="log_content">
			<ion-item>
				<ion-input placeholder="Name " class="input"></ion-input>
			</ion-item>

		</div>

		<div class="ion-padding bothbtn">
			<ion-button expand="block" type="submit" class="btn1" [routerLink]="['/where']">Next</ion-button>
			<ion-button expand="block" type="submit" class="btn2" [routerLink]="['/contract']">Back</ion-button>
		</div>

	</div>

</ion-content>
