

<ion-content>

	<div class ="background">
		<div class="logo">
			<img src="./assets/image/logo.png" alt="logo">
		</div>

		<div class="main_img">

			<img src="./assets/image/signcnfrm.png" alt="login" >
		</div>

		<h1 class="title">Would you like to Sign In or SignOut</h1>
		<div class="ion-padding bothbtn">
			<ion-button  expand="block" type="submit" class="btn1 mt-20" [routerLink]="['/contract']">Sign In</ion-button>
			<ion-button expand="block" type="submit" class="btn2 mt-20" [routerLink]="['/scan-code']">Sign Out</ion-button> 
		</div>

	</div>


</ion-content>
