.background{
	background: url('/assets/image/background.png') no-repeat;
	background-size: 100% 100%;
	display: block;
}

.logo{
	max-width: 80px;
	margin: 0 auto;
	padding: 70px 0 40px;

}
.title{

	text-align: center;
	//font-size: larger;
	color: #2d2626f0;
	padding: 0 10px;
	font-size: 18px;
}
.main_img{
	margin: auto;
	padding: 15px;
	text-align: center;
	max-width: 200px;
}
.btn1{
	--background: #17529d !important;
	--border-radius: 50px !important;
	text-transform: capitalize !important;
	margin-top: 0px;
	height: 38px;
	font-size: 14px;
}
.btn2{
	--background: #17529d !important;
	--border-radius: 50px !important;
	text-transform: capitalize !important;
	margin-top: 20px;
	height: 38px;
	font-size: 14px;
}
.bothbtn{
	max-width: 500px;
    /* text-align: center; */
    margin: auto;
    font-size: 10px !important;
}

