

<ion-content>

	<div class ="background">
		<div class="logo">
			<img src="./assets/image/logo.png" alt="logo">
		</div>
		<div class="main_img">

			<img src="./assets/image/logout.png" alt="login" >
		</div>
		<div>
			<h1 class="title">Would You Like To Logout?</h1>
		</div>
		<div class="ion-padding bothbtn">
			<ion-button expand="block" type="submit" class="btn" style="--background: #17529d!important;" [routerLink]="['/login']">Logout</ion-button>
			<ion-button expand="block" type="submit" class="btn" [routerLink]="['/ty-enjoyday']">Back</ion-button>
		</div>
	</div>
</ion-content>
