.background{
	background: url('/assets/image/background.png') no-repeat;
	background-size: 100% 100%;
	display: block;
}

.logo{
	max-width: 80px;
	margin: 0 auto;
	padding: 70px 0 40px;

}


.content{
	text-align: center;
	color: #2d2626f0;
	padding: 10px 18px 15px 31px;
	font-size: 15px;
	background: #b8b9dc59;
	



}
.main_img{
	margin: auto;
	padding: 15px;
	text-align: center;
	max-width: 200px;
}
.bothbtn{
	//padding:11px 31px 100px 7px;
	margin: auto;
	max-width: 300px;
	text-align: center;
	font-size: 10px !important;
}
.again{
	padding: 2px;
	text-align: center;
	max-width: 194px;
	font-size: 12px;
	text-transform: capitalize;

}