
<ion-content>
	<div class ="background">
		<div class="logo">
			<img src="./assets/image/logo.png" alt="logo">
		</div>
		<h1 class="title">Please scan QR code on your badge to your sign out</h1>

		<div class="log_content">
			<div class="scan" (click)="scanQRCode()">
				<p>tap to scan here...</p>

				<P>{{Qrvalue}}</P>

			</div>
		</div>
		<!-- <div class="ion-padding bothbtn">
			<ion-button expand="block" type="submit" class="btn2" (click)="createCode()">Create QR Code</ion-button>
		</div>
		<ion-card *ngIf="created_code">
			<ngx-qrcode [(qrc-value)]="created_code"></ngx-qrcode>
			<ion-card-content>
				<h2>Encoded Data</h2>
				<p>{{ created_code }}</p>
			</ion-card-content>
		</ion-card> -->
		<div class="ion-padding bothbtn">
			<ion-button expand="block" type="submit" class="btn2" [routerLink]="['/ty-enjoyday']">Back</ion-button>
		</div>

	</div>


</ion-content>
