.background{
	background: url('/assets/image/background.png') no-repeat;
	background-size: 100% 100%;
	display: block;
}

.logo{
	max-width: 80px;
	margin: 0 auto;
	padding: 70px 0 40px;

}
.input ,.ion-input{
	border: 1px solid #80808073;
	border-radius: 50px;
	padding: 2px 18px !important;
	margin-top:10px;
	font-size: 12px !important;

}



ion-item 
{
	--highlight-color-focused: none;
	--border-color: transparent;
	margin: auto;
	max-width: 500px;
}

.datetime-text {
	border: 1px solid #80808073;
	border-radius: 50px;
	--padding: 2px 15px !important;
	margin-top:10px;
	font-size: 12px !important;
	height: 35px !important;
	width: 100% !important;
}
.item-native{
	border-style: unset !important;
}

.boxes{
	margin: auto;
	max-width: 500px;
	width: 100%;
	display :flex;
	position: relative;
	height: 80px;
	max-height: 120px;
}

.box1{
	width: 100px;
	background: #dcdce4;
	//padding: 29px 7px 25px 0px;
	max-height: 100px;
	text-align: center;
	color: #a99f9f;
	font-size: 12px;
	position: absolute;
	top: 3px;
	left: 20px;
	

}

.box2{
	width: 100px;
	background: #dcdce4;
	//padding: 29px 7px 25px 0px;
	max-height: 100px;
	text-align: center;
	color: #a99f9f;
	font-size: 12px;
	right: 30px;
	top: 3px;
	position: absolute;

}


.btn1{
	--background: #1d4c77de !important;
	--border-radius: 50px !important;
	text-transform: capitalize !important;
	margin-top: 15px;
	height: 38px;
	font-size: 14px;
}
.btn2{
	--background: #1d4c77de !important;
	--border-radius: 50px !important;
	text-transform: capitalize !important;
	margin-top: 10px;
	height: 38px;
	font-size: 14px;
}
.bothbtn{
	margin: auto;
	max-width: 500px;
	font-size: 10px !important;
}



