

<ion-content>
	<div class ="background">
		<div class="logo">
			<img src="./assets/image/logo.png" alt="logo">
		</div>
		<h1 class="title"> What is the purpose of your visit today?</h1>

		<div class="log_content">
			<ion-item>
				<ion-input placeholder="Reason for visit" class="input"></ion-input>
			</ion-item>

		</div>

		<div class="ion-padding bothbtn">
			<ion-button expand="block" type="submit" class="btn1" [routerLink]="['/camera']">Next</ion-button>
			<ion-button expand="block" type="submit" class="btn2" [routerLink]="['/yourname']">Back</ion-button>
		</div>

	</div>
</ion-content>
