

<ion-content>
	<div class ="background">
		<div class="logo">
			<img src="./assets/image/logo.png" alt="logo">
		</div>
		<h1 class="title">Who are you visiting today?</h1>

		<div class="log_content">
			<ion-item>
				<ion-input placeholder="please input name of person you are visiting" class="input"></ion-input>
			</ion-item>

		</div>

		<div class="ion-padding bothbtn">
			<ion-button expand="block" type="submit" class="btn1" [routerLink]="['/purpose']">Next</ion-button>
			<ion-button expand="block" type="submit" class="btn2" [routerLink]="['/work-with-child']">Back</ion-button>
		</div>
	</div>
</ion-content>
